# modules
node_modules/

# build folders
packages/*/build
packages/*/build-meta.json

# except math build folders
!packages/math-*/build

# compile folders
examples/*/out

# jest test results
integration-tests/*/output.json

# turbo files
.turbo

# mac
.DS_Store

# IntelliJ Idea
.idea

# Env
.env