# modules
node_modules/

# build folders
packages/*/dist
packages/*/build
packages/*/build-meta.json

# except math build folders
!packages/math-*/build

# examples compile folders
examples/*/out
examples/*/build-meta.json

# examples public folders (js|wasm)
examples/*/public/**/*.js
examples/*/public/**/*.js.map
examples/*/public/**/*.wasm

# jest test results
integration-tests/*/output.json

# turbo files
.turbo

# mac
.DS_Store

# IntelliJ Idea
.idea

# Env
.env